/* PERMITIR ACENTUAÇÕES NO SITE */
@charset "UTF-8";

/* FONTES */
@font-face {
    font-family: 'Mories';
    src: url('../font/Mories.ttf') format('truetype');
}

/* PALETA DE CORES */
:root {
    --cor0: #fff;
    --cor1: #c53005;
    --cor2: #a80002;
    --cor3: #4C0002; /*DEGRADÊ*/
    --cor4: #220003; /*DEGRADÊ*/
    --cor5: #1D0000;
    --cor6: #200000;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
    max-width: 960px;
    margin:  0 auto;
}

/* CABEÇALHO */
.cabecalho {
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cabecalho .cabecalho-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 2.3rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.cabecalho .cabecalho-2 .img-box {
    margin-right: 1.4rem;
}

.cabecalho .cabecalho-2 .img-box img {}

/* MENU */
.link-menu {}

.link-menu .links-box {
    margin-bottom: 2rem;
    gap: 1.6rem;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
}

.link-menu .links-box a {}

.link-menu .links-box a img {}

.link-menu .links-box #icone-border {
    border-left: 1px solid var(--cor2);
    border-right: 1px solid var(--cor2);
    padding: 0 1.5rem;
}

.link-menu .menu-navegacao {}

/* BOTÃO MOBILE */
.link-menu .menu-navegacao input[type="checkbox"] {
    display: none;
}

.link-menu .menu-navegacao label {}

.link-menu .menu-navegacao label .img-mark {
    color: white;
    position: absolute;
    font-size: 2.2em;
    top: 5.1rem;
    right: 4rem;
    display: none;
}

.link-menu .menu-navegacao label .img-mark-off {
    z-index: 2;
    position: fixed;
    top: 5.2rem;
    right: 1rem;
    opacity: 0;
    font-size: 2.2em;
    transition: all .5s;
    color: white;
}

.link-menu .menu-navegacao .lista-navegacao {
    display: flex;
    list-style: none;
}

.link-menu .menu-navegacao .lista-navegacao .item-navegacao {
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.link-menu .menu-navegacao .lista-navegacao #item-fundo {
    background-color: #660205;
}

.link-menu .menu-navegacao .lista-navegacao .item-navegacao:hover {
    background-color: #660205;
}

.link-menu .menu-navegacao .lista-navegacao .item-navegacao a {
    text-decoration: none;
    color: #F9F0E7;
    font-size: 1.3em;
    font-weight: 100;
}

/* SEÇÃO SLIDE */
.secao-slide {
    background-image: url(../imagens/bg_slider.jpg);
    display: flex;
    padding: 0.5rem;
    box-shadow: 0px 1px 20px rgb(0 0 0 / 49%);
    margin-bottom: 2rem;
}

.secao-slide .pedido-dia {
    padding: 4rem 1rem 1rem 1rem;
}

.secao-slide .pedido-dia h1 {
    color: var(--cor2);
    font-family: 'Mories';
    text-align: center;
    font-size: 2.7em;
    font-weight: 600;
}

.secao-slide .pedido-dia h2 {
    text-align: center;
    font-family: 'Mories';
    padding: 0.4rem 0;
    font-weight: 600;
    color: var(--cor6);
}

.secao-slide .pedido-dia .p-img {
    position: relative;
}

.secao-slide .pedido-dia .p-img p {
    color: #6c5f5b;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.9em;
    max-width: 279px;
    margin-top: 1rem;
}

.secao-slide .pedido-dia .p-img img {}

.secao-slide .pedido-dia .p-img #img1 {
    position: absolute;
    right: 16rem;
}

.secao-slide .pedido-dia .p-img #img2 {
    position: absolute;
    right: 0.3rem;
}

.secao-slide .img-slide {}

.secao-slide .img-slide img {
    width: 100%;
}

/* SEÇÃO CARD */
.secao-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.secao-cards .img-fundo {
    width: 31%;
    height: 380px;
    background-image: url(../imagens/box_bg.png);
    background-color: #2c0000;
}

.secao-cards .img-fundo .card-box {
    background-image: url(../imagens/box_top.png);
    padding: 1.6rem;
    color: white;
    background-repeat: no-repeat;
}

.secao-cards .img-fundo .card-box h2 {
    font-weight: 100;
    font-size: 2.2em;
}

.secao-cards .img-fundo .card-box h2 strong {
    color: var(--cor2);
    font-weight: 100;
}

.secao-cards .img-fundo .card-box img {
    margin: 1rem 0;
    width: 100%;
}

.secao-cards .img-fundo .card-box p {
    line-height: 1.6rem;
    font-size: 0.9em;
}

.secao-cards .img-fundo .card-box p > a {
    text-decoration: none;
    color: var(--cor2);
}

.secao-cards .img-fundo .card-box a:hover {
    text-decoration: underline;
}

.secao-cards .img-fundo .card-box > a {
    display: block;
    background-color: var(--cor2);
    padding: 0.5rem;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    width: 110px;
    margin-top: 1rem;
}

.secao-cards .img-fundo .card-box > a:hover {
    background-color: white;
    text-decoration: none;
    color: var(--cor5);
}

.secao-cards .img-fundo .card-box .lista-servicos {
    list-style: none;
}

.secao-cards .img-fundo .card-box .lista-servicos .item-servico {
    margin-bottom: 0.6rem;    
}

.secao-cards .img-fundo .card-box .lista-servicos .item-servico a {
    text-decoration: none;
    color: white;    
    font-size: 0.9em;
    padding-left: 1rem;
    background-image: url(../imagens/marker_1.gif);
    background-repeat: no-repeat;
    background-position: 2px 6px;
}

.secao-cards .img-fundo .card-box .lista-servicos .item-servico a:hover {
    text-decoration: underline;    
}

/* CONTEÚDO PRINCIPAL */
.conteudo {
    background-color: #FAF3ED;
    padding: 1.2rem 0rem 3rem 0rem;
}

/* SEÇÃO PROXÍMOS EVENTOS */
.secao-events-testimonials {
    display: flex;
}

/* EVENTS */
.secao-events-testimonials h2 {
    font-weight: 100;
    color: var(--cor6);
    margin-bottom: 1rem;
    font-size: 2.3em;
}

.secao-events-testimonials .events {}

.secao-events-testimonials .events .lista-events {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.secao-events-testimonials .events .lista-events .item-events {
    display: flex;
    width: 299px;
    align-items: center;
    gap: 1.5rem;
}

.secao-events-testimonials .events .lista-events .item-events img {}

.secao-events-testimonials .events .lista-events .item-events .a-span {}

.secao-events-testimonials .events .lista-events .item-events .a-span a {
    font-size: 0.9em;
    color: var(--cor2);
    text-decoration: none;
}

.secao-events-testimonials .events .lista-events .item-events .a-span a:hover {
    text-decoration: underline;
}

.secao-events-testimonials .events .lista-events .item-events .a-span span   {
    font-size: 0.9em;
    line-height: 1.5em;
}

/* TESTIMONIALS */
.secao-events-testimonials .testimonials {}

.secao-events-testimonials .testimonials .testimonials-box {
    width: 237px;
}

.secao-events-testimonials .testimonials .testimonials-box .number-citacao {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.secao-events-testimonials .testimonials .testimonials-box .number-citacao .number {
    background-color: var(--cor2);
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    padding: 0.5rem 0.9rem;
}

.secao-events-testimonials .testimonials .testimonials-box .number-citacao p {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    line-height: 1.6em;
}

.secao-events-testimonials .testimonials .testimonials-box q {}

.secao-events-testimonials .testimonials .testimonials-box .img-box {
    margin-left: 4rem;
}

.secao-events-testimonials .testimonials .testimonials-box .citacao-pessoa .img-box img {}

/* RODAPÉ */
.rodape {
    background-image: url(../imagens/bg_slider.jpg);
    padding: 1.2rem 0rem 3rem 0rem;
}

.rodape .phone-follow {
    display: flex;
    align-items: center;
    gap: 20rem;
}

.rodape .phone-follow .phone {}

.rodape .phone-follow .phone h3 {
    font-weight: 100;
    margin-bottom: 1rem;
    color: var(--cor2);
    font-size: 1.4em;
}

.rodape .phone-follow .phone h3 strong {
    color: var(--cor6);
    font-weight: 100;
}

.rodape .phone-follow .phone p {
    font-size: 0.9em;
    line-height: 1.4rem;
    color: #3c424e;
}

.rodape .phone-follow .phone p a {
    color: var(--cor1);
    text-decoration: none;
}

.rodape .phone-follow .phone p a:hover {
    text-decoration: underline;
}

.rodape .phone-follow .follow {}

.rodape .phone-follow .follow h3 {
    font-weight: 100;
    margin-bottom: 1rem;
    color: var(--cor6);
    font-size: 1.4em;
}

.rodape .phone-follow .follow .a-img {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

.rodape .phone-follow .follow .a-img a {}

.rodape .phone-follow .follow .a-img a img {}

@media screen and (max-width: 967px) {

    .link-menu .menu-navegacao input[type="checkbox"]:checked ~ .lista-navegacao {
       right: 0;
    }

    .link-menu .menu-navegacao input[type="checkbox"]:checked ~ label .img-mark-off {
        opacity: 1;
     }

    .link-menu .menu-navegacao label .img-mark {
        display: block;
    }

    .link-menu .menu-navegacao .lista-navegacao {
        flex-direction: column;
        position: fixed;
        width: 16rem;
        background-color: var(--cor3);
        height: 100vh;
        right: -100%;
        top: 5rem;
        z-index: 1;
        transition: all .5s;
    }

    .link-menu .menu-navegacao .lista-navegacao .item-navegacao {
        padding: 0.5rem;
        margin: 0;
        border-bottom: 1px solid var(--cor0);
        border-top: 1px solid var(--cor0);
    }

    .secao-cards .img-fundo {
        height: 441px;
    }
    
}

@media screen and (max-width: 892px) {
    .secao-slide {
        flex-direction: column;
        width: 90%;
        margin: auto auto 2rem auto ;
        padding: 1rem;
    }

    .secao-slide .pedido-dia {
        padding: 1rem
    }

    .secao-slide .pedido-dia .p-img p {
        max-width: unset;
    }
    
    .secao-slide .pedido-dia .p-img #img1 {
        right: 100%;
    }

    .secao-slide .pedido-dia .p-img #img2 {
        right: 0%;
        top: 88%;
    }

    .secao-cards {
        flex-direction: column;
    }

    .secao-cards .img-fundo {
        margin-bottom: 2rem;
        height: 420px;
        width: 428px;
    }

    .secao-events-testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .secao-events-testimonials h2 {
        text-align: center;
    }

    .secao-events-testimonials .events {
        margin-bottom: 2rem;
    }

    .secao-events-testimonials .events .lista-events {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .secao-events-testimonials .events .lista-events .item-events {
        width: 80%;
    }
    
    .secao-events-testimonials .testimonials {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .secao-events-testimonials .testimonials .testimonials-box {    
        margin-bottom: 2rem;
        width: 80%;
    }

    .rodape .phone-follow {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
    }

    .rodape .phone-follow .phone {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    
    .cabecalho .cabecalho-2 .img-box img {
        width: 190px;
    }

    .link-menu .links-box {
        display: none;
    }

    .link-menu .menu-navegacao label .img-mark {
        top: 3.1rem;
        right: 1.7rem;
    }

    .link-menu .menu-navegacao label .img-mark-off {
        top: 0.4rem;
        right: 1.5rem;
    }

    .link-menu .menu-navegacao .lista-navegacao {
        top: 0;
    }
}

@media screen and (max-width: 450px) {
    .secao-cards .img-fundo {
        width: 330px; 
    }
}
